# TMI muito elevado aos domingos a partir de julho. Porque?

In [1]:
# Importe as bibliotecas aqui:
import pickle

In [2]:
# Carregue o banco de dados e reset os índices:

data = pickle.load(open('Chamados Totais.pkl', "rb"))
display(data)

,id chamado,Data,Time,Ferramenta,Canal,Encantador,TMI
303105,303105,2021-04-30,Alfa,A,WhatsApp,samantha4353@stone.com.br,69.5
303260,303260,2021-04-30,Sigma,A,WhatsApp,autumn6774@stone.com.br,406.0
303259,303259,2021-04-30,Sigma,A,WhatsApp,autumn6774@stone.com.br,NaN
303258,303258,2021-04-30,Sigma,A,WhatsApp,chase8699@stone.com.br,NaN
303257,303257,2021-04-30,Sigma,A,WhatsApp,chase8699@stone.com.br,55.1
...,...,...,...,...,...,...,...
108183,108183,2021-09-22,Alfa,A,WhatsApp,miranda3212@stone.com.br,36.7
108182,108182,2021-09-22,Alfa,A,Chat,frederick5457@stone.com.br,45.8
108181,108181,2021-09-22,Alfa,A,Chat,brandy9846@stone.com.br,14.0
108191,108191,2021-09-22,Alfa,A,WhatsApp,johnny7750@stone.com.br,542.0
107858,107858,2021-09-22,Delta,A,WhatsApp,christina2145@stone.com.br,11.0

In [3]:
# Calcule a quantidade de chamados no domingo em relação a qualquer outro dia da semana:
qnt_call_sunday = data.loc[data['Data'] == '2021-07-18', 'id chamado'].count()
qnt_call_monday = data.loc[data['Data'] == '2021-07-19', 'id chamado'].count()

print(f'Houve {qnt_call_sunday:_.0f} chamados no dia 18/07/2021, que foi um domingo'.replace('.', ',').replace('_', '.') + '.')
print(f'Houve {qnt_call_monday:_.0f} chamados no dia 19/07/2021, que foi uma segunda-feira'.replace('.', ',').replace('_', '.') + '.')

Houve 3.108 chamados no dia 18/07/2021, que foi um domingo.
Houve 26.520 chamados no dia 19/07/2021, que foi uma segunda-feira.

In [4]:
# Calcule novamente a quantidade de chamados no domingo em relação a qualquer outro dia da semana para verificação:
qnt_call_sunday_2 = data.loc[data['Data'] == '2021-07-25', 'id chamado'].count()
qnt_call_monday_2 = data.loc[data['Data'] == '2021-07-26', 'id chamado'].count()

print(f'Houve {qnt_call_sunday_2:_.0f} chamados no dia 25/07/2021, que foi um domingo'.replace('.', ',').replace('_', '.') + '.')
print(f'Houve {qnt_call_monday_2:_.0f} chamados no dia 26/07/2021, que foi uma segunda-feira'.replace('.', ',').replace('_', '.') + '.')

Houve 3.169 chamados no dia 25/07/2021, que foi um domingo.
Houve 25.742 chamados no dia 26/07/2021, que foi uma segunda-feira.

In [5]:
# Verifique os times que trabalharam no domingo (01/08/2021) e segunda (02/08/2021):
qnt_team_sunday = data.loc[data['Data'] == '2021-08-01', ['Data','Time', 'TMI']].groupby('Time').mean().reset_index()
display(round(qnt_team_sunday))

qnt_team_monday = data.loc[data['Data'] == '2021-08-02', ['Data','Time', 'TMI']].groupby('Time').mean().reset_index()
display(round(qnt_team_monday))

    Time     TMI
0   Alfa    64.0
1   Beta  5514.0
2  Sigma    73.0

    Time    TMI
0   Alfa  102.0
1   Beta  532.0
2  Delta  141.0
3  Sigma  105.0

- Conclusão:
-> Lembrete: os chamados realizados aos domingos a partir de julho de 2021 tiveram TMI muito elevados                        (fonte: página 2 do dashbord no google studio). link: https://datastudio.google.com/s/nRcdATGEk7A
-> Após analisar o número de chamados dos domingos com, por exemplo, do dia seguinte (2ª feira), notou-se que houve pelo menos 8x menos chamados no domingo em relação a segunda. Isso se repetiu nas outras semanas.
-> Logo, se há menor demanda nos domingos e o serviço não é ágil, provavelmente, o número de encantadores foi insuficiente nesse dia da semana (domingo).
-> Elimina-se a hipótese de trocar a equipe/encantadores que trabalham domingo, pois há integrantes da equipe alfa e sigma cujo TMI foi excelente.