# Carregue, trate e converta o arquivo (.pkl para .csv)

In [1]:
# Importe as bibliotecas aqui:
import pandas as pd
import pickle

In [2]:
# Carregue o banco de dados e reset os índices:

data = pickle.load(open('Chamados Totais.pkl', "rb"))
display(data)

,id chamado,Data,Time,Ferramenta,Canal,Encantador,TMI
303105,303105,2021-04-30,Alfa,A,WhatsApp,samantha4353@stone.com.br,69.5
303260,303260,2021-04-30,Sigma,A,WhatsApp,autumn6774@stone.com.br,406.0
303259,303259,2021-04-30,Sigma,A,WhatsApp,autumn6774@stone.com.br,NaN
303258,303258,2021-04-30,Sigma,A,WhatsApp,chase8699@stone.com.br,NaN
303257,303257,2021-04-30,Sigma,A,WhatsApp,chase8699@stone.com.br,55.1
...,...,...,...,...,...,...,...
108183,108183,2021-09-22,Alfa,A,WhatsApp,miranda3212@stone.com.br,36.7
108182,108182,2021-09-22,Alfa,A,Chat,frederick5457@stone.com.br,45.8
108181,108181,2021-09-22,Alfa,A,Chat,brandy9846@stone.com.br,14.0
108191,108191,2021-09-22,Alfa,A,WhatsApp,johnny7750@stone.com.br,542.0
107858,107858,2021-09-22,Delta,A,WhatsApp,christina2145@stone.com.br,11.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2980478 entries, 303105 to 107858
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   id chamado  int64
 1   Data        datetime64[ns]
 2   Time        object
 3   Ferramenta  object
 4   Canal       object
 5   Encantador  object
 6   TMI         float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 181.9+ MB

In [4]:
# Ordene a tabela pelo número de id chamado apenas para verificar se há "id chamado" igual a "0":
data = data.sort_values('id chamado').reset_index()
#display(data)

# Exclua a coluna index, pois ao resetar o índice a coluna index é desnecessária
data = data.drop(['index'], axis=1)
display(data)

,id chamado,Data,Time,Ferramenta,Canal,Encantador,TMI
0,0,2021-08-01,Alfa,B,WhatsApp,kristy9482@stone.com.br,34.0
1,0,2021-05-01,Alfa,B,WhatsApp,jerry2853@stone.com.br,8.0
2,0,2021-08-31,Alfa,B,WhatsApp,david1150@stone.com.br,14.0
3,1,2021-08-01,Alfa,B,WhatsApp,melinda5227@stone.com.br,25.0
4,1,2021-05-01,Alfa,B,WhatsApp,spencer8017@stone.com.br,17.0
...,...,...,...,...,...,...,...
2980473,983549,2021-08-12,Beta,A,Chat,kevin9582@stone.com.br,22339.0
2980474,983550,2021-08-12,Beta,A,Chat,kevin9582@stone.com.br,21853.0
2980475,983551,2021-08-12,Beta,A,Chat,kevin9582@stone.com.br,22018.0
2980476,983552,2021-08-11,Beta,A,WhatsApp,hannah0554@stone.com.br,59.1
2980477,983553,2021-08-11,Beta,A,Chat,casey9247@stone.com.br,22.5

In [5]:
# Ordene a tabela pelo número de Data:
data = data.sort_values('Data').reset_index()
display(data)

,index,id chamado,Data,Time,Ferramenta,Canal,Encantador,TMI
0,1285615,302982,2021-04-30,Alfa,A,Chat,krystal6338@stone.com.br,18.1
1,1285588,302977,2021-04-30,Alfa,A,Chat,scott6478@stone.com.br,36.9
2,1286234,303116,2021-04-30,Alfa,A,WhatsApp,shanna4214@stone.com.br,16.2
3,1285585,302976,2021-04-30,Alfa,A,Chat,scott6478@stone.com.br,18.3
4,1286232,303115,2021-04-30,Alfa,A,WhatsApp,samantha4353@stone.com.br,26.7
...,...,...,...,...,...,...,...,...
2980473,238875,57845,2021-09-22,Beta,A,WhatsApp,shana9685@stone.com.br,28.0
2980474,238868,57844,2021-09-22,Alfa,A,WhatsApp,darren5277@stone.com.br,28.0
2980475,238865,57843,2021-09-22,Alfa,A,WhatsApp,nichole1277@stone.com.br,31.0
2980476,546557,129305,2021-09-22,Alfa,A,WhatsApp,tyler6526@stone.com.br,85.0
2980477,455386,108201,2021-09-22,Alfa,A,WhatsApp,byron2711@stone.com.br,62.9


- Conclusão:
-> Conjunto de dados é do período: abril-setembro de 2021

In [6]:
# Exclua a coluna index novamente criada após o índice ter sido novamente resetado:
data = data.drop(['index'], axis=1)
display(data)

,id chamado,Data,Time,Ferramenta,Canal,Encantador,TMI
0,302982,2021-04-30,Alfa,A,Chat,krystal6338@stone.com.br,18.1
1,302977,2021-04-30,Alfa,A,Chat,scott6478@stone.com.br,36.9
2,303116,2021-04-30,Alfa,A,WhatsApp,shanna4214@stone.com.br,16.2
3,302976,2021-04-30,Alfa,A,Chat,scott6478@stone.com.br,18.3
4,303115,2021-04-30,Alfa,A,WhatsApp,samantha4353@stone.com.br,26.7
...,...,...,...,...,...,...,...
2980473,57845,2021-09-22,Beta,A,WhatsApp,shana9685@stone.com.br,28.0
2980474,57844,2021-09-22,Alfa,A,WhatsApp,darren5277@stone.com.br,28.0
2980475,57843,2021-09-22,Alfa,A,WhatsApp,nichole1277@stone.com.br,31.0
2980476,129305,2021-09-22,Alfa,A,WhatsApp,tyler6526@stone.com.br,85.0
2980477,108201,2021-09-22,Alfa,A,WhatsApp,byron2711@stone.com.br,62.9

In [7]:
# Converta o arquivo pkl em csv. Em seguida, carregue-o no Google BigQuery para por fim seja carregado no Google Data Studio:
data.to_csv(r'Chamados Totais.csv')

# Cálculos e análises de dados

In [8]:
# Verifique se há "id chamados" duplicados:

coluna = ['id chamado', 'Data', 'Time', 'Ferramenta', 'Canal', 'Encantador', 'TMI']

display(data.loc[data['id chamado'] == 302981, coluna]) 
# Utilizei único id e a busca retornou a 5 chamados diferentes.

,id chamado,Data,Time,Ferramenta,Canal,Encantador,TMI
29,302981,2021-04-30,Alfa,A,Chat,krystal6338@stone.com.br,1138.0
650406,302981,2021-07-05,Sigma,B,WhatsApp,sandra9491@stone.com.br,51.0
1270974,302981,2021-07-28,Alfa,B,WhatsApp,kristine5490@stone.com.br,50.0
1368258,302981,2021-08-02,Beta,A,WhatsApp,elise0365@stone.com.br,1820.0
2795466,302981,2021-09-14,Delta,A,WhatsApp,jack4341@stone.com.br,113.9

- Conclusão:
-> Há "id chamados" repetidos.
-> Provalvelmente, são atendimentos com problemas inicialmente complexos.
-> Além disso, após resolver o problema, pode ter surgido outro problema decorrente do chamado anterior posteriormente.

In [9]:
# Calcule a quantidade de valores zeros na coluna TMI:
data_zero = data.loc[data['TMI'] == 0, ['Ferramenta', 'TMI']].groupby('Ferramenta').count().reset_index()
display(data_zero)

  Ferramenta   TMI
0          A  1327
1          B   126

- Conclusão:
-> Há mais casos de TMI igual a zero ao utilizar a ferramenta “A”.

In [10]:
# Calcule a quantidade de valores nulos na coluna TMI:
ferramenta_A = 'A'
ferramenta_B = 'B'


data_null_A = data.loc[(pd.isnull(data['TMI'])) & (data['Ferramenta'] == ferramenta_A), 'Ferramenta'].count()
print(f'Há {data_null_A:_.0f} chamados com TMI igual a "null" cuja ferramenta utilizada é: {ferramenta_A}'\
      .replace('.',',').replace('_','.'))

data_null_B = data.loc[(pd.isnull(data['TMI'])) & (data['Ferramenta'] == ferramenta_B), 'Ferramenta'].count()
print(end='\n\n' f'Há {data_null_B:_.0f} chamados com TMI igual a "null" cuja ferramenta utilizada é: {ferramenta_B}'\
      .replace('.',',').replace('_','.'))

Há 52.430 chamados com TMI igual a "null" cuja ferramenta utilizada é: A


Há 0 chamados com TMI igual a "null" cuja ferramenta utilizada é: B

- Conclusão:
-> Não houve valores null para chamados cuja ferramenta tenha sido com a ferramenta "B". 
-> Todos os valores null de TMI foi utilizando a ferramenta "A".


- Pergunta: 
-> Pq há TMI com valores null e zero? Deve-se averiguar o que houve nesses chamados com os encantadores para uniformizar o procedimento ou se for necessário distinguí-los, cria-se outra coluna com outra característica que os diferencie de forma mais clara.

In [11]:
# Mostre a quantidade de atendimentos pelo Canal Chat:
qnt_canal = data.loc[data['Canal'] == 'Chat', 'Canal'].count()
print(f'Há {qnt_canal:_.0f} atendimentos pelo canal Chat'.replace('.',',').replace('_','.') + '.')

Há 566.868 atendimentos pelo canal Chat.

In [12]:
# Mostre a quantidade de atendimentos pelo Canal WhatsApp
qnt_zap = data.loc[data['Canal'] == 'WhatsApp', 'Canal'].count()
print(f'Há {qnt_zap:_.0f} atendimentos pelo canal WhatsApp'.replace('.',',').replace('_','.') + '.')

Há 2.413.610 atendimentos pelo canal WhatsApp.

In [13]:
# Mostre a quantidade de atendimentos pelo Canal telefone e email
qnt_phone = data.loc[data['Canal'] == 'Telefone', 'Canal'].count()
print(f'Há {qnt_phone:_.0f} atendimentos pelo canal Telefone'.replace('.',',').replace('_','.') + '.')

qnt_email = data.loc[data['Canal'] == 'Email', 'Canal'].count()
print(f'Há {qnt_email:_.0f} atendimentos pelo canal Email'.replace('.',',').replace('_','.') + '.')

Há 0 atendimentos pelo canal Telefone.
Há 0 atendimentos pelo canal Email.

- Conclusão
-> Há muito mais chamados de whasApp do que por Chat.
-> Não há canais por telefone e email nesse banco de dados.

In [14]:
# Calcule a média do TMI de cada equipe:
team = data[['Time', 'TMI']].groupby('Time').mean().reset_index()
display(round(team).sort_values('TMI'))

    Time    TMI
0   Alfa   85.0
3  Sigma  131.0
2  Delta  138.0
1   Beta  615.0

- Conclusão:
-> Equipe mais eficiente: Alfa. Além disso, foi a única cujo TMI foi menor do que o estipulado.
-> Equipe menos eficiente: Beta

In [15]:
# Calcule a média do TMI total de todos os times:
team_total = data['TMI'].mean()
print(f'O TMI médio das equipes foi: {round(team_total)}%.')

O TMI médio das equipes foi: 205%.

- Conclusão:
-> De modo geral, o indicador não foi atingido pelos encantadores da empresa.

In [16]:
# Calcule a média do TMI em relação a cada ferramenta da equipe alfa:
tool_alfa = data.loc[data['Time'] == 'Alfa', ['Ferramenta', 'TMI']].groupby('Ferramenta').mean().reset_index()
display(round(tool_alfa))

  Ferramenta    TMI
0          A   64.0
1          B  107.0

In [17]:
# Calcule a média do TMI em relação a cada ferramenta da equipe Beta:
tool_beta = data.loc[data['Time'] == 'Beta', ['Time', 'Ferramenta', 'TMI']].groupby('Ferramenta').mean().reset_index()
display(round(tool_beta))

  Ferramenta     TMI
0          A   584.0
1          B  3832.0

In [18]:
# Calcule a média do TMI em relação a cada ferramenta da equipe Sigma:
tool_sigma = data.loc[data['Time'] == 'Sigma', ['Ferramenta', 'TMI']].groupby('Ferramenta').mean().reset_index()
display(round(tool_sigma))

  Ferramenta    TMI
0          A   97.0
1          B  150.0

In [19]:
# Calcule a média do TMI em relação a cada ferramenta da equipe Delta:
tool_delta = data.loc[data['Time'] == 'Delta', ['Ferramenta', 'TMI']].groupby('Ferramenta').mean().reset_index()
display(round(tool_delta))

  Ferramenta    TMI
0          A  139.0
1          B  138.0

- Conclusão:
-> É melhor priorizar uso da ferramenta "A" em detrimento da "B".
-> Justificativa: Em média, a ferramenta B prejudicou o indicador TMI na maioria das equipes. Apenas a equipe Delta teve TMI com valores próximos independentemente da ferramenta utilizada.

In [20]:
# Calcule a média do TMI das equipes em relação a cada ferramenta:
tool_mean = data[['Ferramenta', 'TMI']].groupby('Ferramenta').mean().reset_index()
display(round(tool_mean))

  Ferramenta    TMI
0          A  256.0
1          B  139.0

- Dúvida:
-> Por que o valor do TMI ao utilizar a ferramenta "B" foi menor do que o do "A" uma vez que os valores de TMI médio por equipe é maior ao utilizar a ferramenta "B"?
-> Segue cálculos para justificar o resultado.

In [21]:
# Mostre a quantidade de atendimentos utilizando a ferramenta B
qnt_tool_B = data.loc[data['Ferramenta'] == 'B', 'Ferramenta'].count()
print(f'Há {qnt_tool_B:_.0f} atendimentos utilizando a ferramenta B'.replace('.',',').replace('_','.') + '.')

Há 1.268.465 atendimentos utilizando a ferramenta B.

In [23]:
# Mostre a quantidade de atendimentos utilizando a ferramenta B pela equipe Beta:
qnt_tool_B_beta = data.loc[(data['Ferramenta'] == 'B') & (data['Time'] == 'Beta'), 'Ferramenta'].count()
qnt_tool_B_percentual = qnt_tool_B_beta / qnt_tool_B

print(f'Há {qnt_tool_B_beta:_.0f} atendimentos da equipe Beta utilizando a ferramenta B'.replace('.',',').replace('_','.') + '.' + '\n\n')
print(f'Do total dos atendimentos utilizando a ferramenta B, a equipe Beta fez: {qnt_tool_B_percentual:_.2%}'.replace('.',',').replace('_','.') + '.')

Há 5.792 atendimentos da equipe Beta utilizando a ferramenta B.


Do total dos atendimentos utilizando a ferramenta B, a equipe Beta fez: 0,46%.

In [24]:
# Mostre a quantidade de atendimentos utilizando a ferramenta A
qnt_tool_A = data.loc[data['Ferramenta'] == 'A', 'Ferramenta'].count()
qnt_tool_A -= data_null_A # Retirou-se os resultados de TMI nulos.
print(f'Há {qnt_tool_A:_.0f} atendimentos utilizando a ferramenta A'.replace('.',',').replace('_','.') + '.')

Há 1.659.583 atendimentos utilizando a ferramenta A.

In [25]:
# Mostre a quantidade de atendimentos utilizando a ferramenta A pela equipe Beta:
qnt_tool_A_Beta = data.loc[(data['Ferramenta'] == 'A') & (data['Time'] == 'Beta'), 'Ferramenta'].count()
qnt_tool_A_percentual = qnt_tool_A_Beta / qnt_tool_A

print(f'Há {qnt_tool_A_Beta:_.0f} atendimentos da equipe Beta utilizando a ferramenta A'.replace('.',',').replace('_','.') + '.' + '\n\n')
print(f'Do total dos atendimentos utilizando a ferramenta A, a equipe Beta fez: {qnt_tool_A_percentual:_.2%}'.replace('.',',').replace('_','.') + '.')

Há 613.007 atendimentos da equipe Beta utilizando a ferramenta A.


Do total dos atendimentos utilizando a ferramenta A, a equipe Beta fez: 36,94%.

- Conclusão:
-> Lembrete: o TMI médio da equipe Beta foi o pior entre todas as equipes.
-> Portanto, embora o TMI médio ao utilizar a ferramenta A tenha sido maior do que o TMI relativo ao uso da ferramenta B, deve-se esse valor pela baixa quantidade de chamados realizados pela equipe Beta utilizando a ferramenta B e pela alta quantidade de chamados realizados por essa equipe utilizando a "A". 
-> Sendo assim, mantém-se a conclusão de que o uso da ferramenta "B" prejudica redimento das equipes em relação ao uso da "A".

In [26]:
# Calcule a média do TMI em relação a cada canal de cada equipe:
TMI_per_canal_team = data[['Time', 'TMI', 'Canal']].groupby(['Time', 'Canal']).mean().reset_index()
display(round(TMI_per_canal_team).sort_values('Time'))

    Time     Canal    TMI
0   Alfa      Chat   45.0
1   Alfa  WhatsApp   97.0
2   Beta      Chat  251.0
3   Beta  WhatsApp  710.0
4  Delta  WhatsApp  138.0
5  Sigma      Chat   71.0
6  Sigma  WhatsApp  139.0

- Conclusão:
-> Atendimento no Chat é, em média, mais rápido do que pelo WhatsApp ao observar o TMI de cada equipe.
-> Observação: a equipe Delta não fez nenhum atendimento via Chat.
-> Corroborando com resultados anteriores, a equipe Alfa foi a única a atender com TMI abaixo do estipulado independente do tipo de canal.
-> Destaca-se também que a equipe Sigma obteve ótimos resultados ao utilizar o canal Chat, ao contrário de quando utilizou o WhatsApp.

In [27]:
# Mostre resultado, Meta e Atingimento da Meta de todos os encantadores:

# Declare as variáveis aqui:
meta_zap = 70.0
meta_chat = 80.0

encantador_meta_zap = 0
encantador_meta_chat = 0

# Armazene a quantidade total de encantadores que atingiram e não atingiram a meta:
for i in range(len(data)):
    if (data.loc[i, 'TMI'] <= meta_zap) & (data.loc[i, 'Canal'] == 'WhatsApp'):
        encantador_meta_zap += 1
    else:
        pass
        
    if (data.loc[i, 'TMI'] <= meta_chat) & (data.loc[i, 'Canal'] == 'Chat'):
        encantador_meta_chat += 1

# Calcule e mostre o percentual relativo à meta do WhatsApp: 
percentual_meta_zap = encantador_meta_zap / len(data)
print(f'{percentual_meta_zap:_.0%} dos encantadores que utilizaram WhatsApp atingiram a meta'.replace('.',',') + '.' + '\n\n')


percentual_nao_meta_zap =  1 - percentual_meta_zap
print(f'{percentual_nao_meta_zap:_.0%} dos encantadores que utilizaram WhatsApp não atingiram a meta'.replace('.',',') + '.' + '\n\n')


# Calcule e mostre o percentual relativo à meta do Chat:
percentual_meta_chat = encantador_meta_chat / len(data)
print(f'{percentual_meta_chat:_.0%} dos encantadores que utilizaram Chat atingiram a meta'.replace('.',',') + '.' + '\n\n')


percentual_nao_meta_chat = 1 - percentual_meta_chat
print(f'{percentual_nao_meta_chat:_.0%} dos encantadores que utilizaram Chat não atingiram a meta'.replace('.',',') + '.')

48% dos encantadores que utilizaram WhatsApp atingiram a meta.


52% dos encantadores que utilizaram WhatsApp não atingiram a meta.


16% dos encantadores que utilizaram Chat atingiram a meta.


84% dos encantadores que utilizaram Chat não atingiram a meta.

- Conclusão:
-> Embora a média dos valores de TMI referente ao WhatsApp seja maior do que a do Chat, os encantadores atingiram a meta mais vezes percentualmente utilizando WhatsApp em vez do Chat.
-> Logo, podemos concluir que uma tendência do mercado é utilizar o WhatsApp para falar e resolver problemas do negócio uma vez que é um aplicativo gratuito e customeiro o seu uso no cotidiano da população.

In [28]:
# Calcule a quantidade de chamados no domingo em relação a qualquer outro dia da semana:
qnt_call_sunday = data.loc[data['Data'] == '2021-07-18', 'id chamado'].count()
qnt_call_monday = data.loc[data['Data'] == '2021-07-19', 'id chamado'].count()

print(f'Houve {qnt_call_sunday:_.0f} chamados no dia 18/07/2021, que foi um domingo'.replace('.', ',').replace('_', '.') + '.')
print(f'Houve {qnt_call_monday:_.0f} chamados no dia 19/07/2021, que foi uma segunda-feira'.replace('.', ',').replace('_', '.') + '.')

Houve 3.108 chamados no dia 18/07/2021, que foi um domingo.
Houve 26.520 chamados no dia 19/07/2021, que foi uma segunda-feira.

In [32]:
# Calcule novamente a quantidade de chamados no domingo em relação a qualquer outro dia da semana para verificação:
qnt_call_sunday_2 = data.loc[data['Data'] == '2021-07-25', 'id chamado'].count()
qnt_call_monday_2 = data.loc[data['Data'] == '2021-07-26', 'id chamado'].count()

print(f'Houve {qnt_call_sunday_2:_.0f} chamados no dia 25/07/2021, que foi um domingo'.replace('.', ',').replace('_', '.') + '.')
print(f'Houve {qnt_call_monday_2:_.0f} chamados no dia 26/07/2021, que foi uma segunda-feira'.replace('.', ',').replace('_', '.') + '.')

Houve 3.169 chamados no dia 25/07/2021, que foi um domingo.
Houve 25.742 chamados no dia 26/07/2021, que foi uma segunda-feira.

In [33]:
# Calcule novamente a quantidade de chamados no domingo em relação a qualquer outro dia da semana para verificação:
qnt_call_sunday_3 = data.loc[data['Data'] == '2021-08-01', 'id chamado'].count()
qnt_call_monday_3 = data.loc[data['Data'] == '2021-08-02', 'id chamado'].count()

print(f'Houve {qnt_call_sunday_3:_.0f} chamados no dia 01/08/2021, que foi um domingo'.replace('.', ',').replace('_', '.') + '.')
print(f'Houve {qnt_call_monday_3:_.0f} chamados no dia 02/08/2021, que foi uma segunda-feira'.replace('.', ',').replace('_', '.') + '.')

Houve 6.312 chamados no dia 01/08/2021, que foi um domingo.
Houve 57.767 chamados no dia 02/08/2021, que foi uma segunda-feira.

In [34]:
# Verifique os times que trabalharam no domingo (01/08/2021) e segunda (02/08/2021):
qnt_team_sunday = data.loc[data['Data'] == '2021-08-01', ['Data','Time', 'TMI']].groupby('Time').mean().reset_index()
display(round(qnt_team_sunday))

qnt_team_monday = data.loc[data['Data'] == '2021-08-02', ['Data','Time', 'TMI']].groupby('Time').mean().reset_index()
display(round(qnt_team_monday))

    Time     TMI
0   Alfa    64.0
1   Beta  5514.0
2  Sigma    73.0

    Time    TMI
0   Alfa  102.0
1   Beta  532.0
2  Delta  141.0
3  Sigma  105.0

- Conclusão:
-> Lembrete: os chamados realizados aos domingos a partir de julho de 2021 tiveram TMI muito elevados                        (fonte: página 2 do dashbord no google studio). 
-> Após analisar o número de chamados dos domingos com, por exemplo, do dia seguinte (2ª feira), notou-se que houve pelo menos 8x menos chamados no domingo em relação a segunda. Isso se repetiu nas outras semanas.
-> Logo, se há menor demanda nos domingos e o serviço não é ágil, provavelmente, o número de encantadores foi insuficiente nesse dia da semana (domingo).
-> Elimina-se a hipótese de trocar a equipe/encantadores que trabalham domingo, pois há integrantes da equipe alfa e sigma cujo TMI foi excelente.